workflows/AirtableNotoToNotion.json
{
  "active": true,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-08-01T15:36:52.940Z",
  "id": "4",
  "name": "AirtableNotoToNotion",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "application": "app2bn8R2QJGgM61b",
        "table": "tbl7zH6IdaiG91bfR",
        "downloadAttachments": true,
        "downloadFieldNames": "Attachments",
        "additionalOptions": {
          "fields": []
        }
      },
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "airtableApi": {
          "id": "11",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        720,
        260
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "83077007-4c56-4778-8ea7-0ccf23bf0354",
        "title": "={{$json[\"fields\"][\"Name\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$json[\"fields\"][\"Name\"]}}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{$json[\"fields\"][\"Content\"].substring(0,2000)}}"
            },
            {
              "type": "heading_2",
              "textContent": "Source"
            },
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{$json[\"fields\"][\"Notes\"]}}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        }
      },
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1140,
        180
      ],
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Notion account Work"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "application": "=app2bn8R2QJGgM61b",
        "table": "tbl7zH6IdaiG91bfR",
        "id": "={{$node[\"SplitInBatches\"].json[\"id\"]}}",
        "options": {}
      },
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1520,
        280
      ],
      "credentials": {
        "airtableApi": {
          "id": "11",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "unit": "hours"
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        200,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-08-01T20:10:16.501Z"
}