workflows/Todoist_to Notion.json
{
  "active": false,
  "connections": {
    "Todoist": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "typeSetCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interval": {
      "main": [
        [
          {
            "node": "TopCategory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typeSetCode": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TopCategory": {
      "main": [
        [
          {
            "node": "subCategory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subCategory": {
      "main": [
        [
          {
            "node": "Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Notion3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion4",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Notion5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Todoist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion2": {
      "main": [
        [
          {
            "node": "Todoist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion4": {
      "main": [
        [
          {
            "node": "Todoist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion3": {
      "main": [
        [
          {
            "node": "Todoist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion5": {
      "main": [
        [
          {
            "node": "Todoist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "NameSubCategory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NameSubCategory": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "TopCategory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "NameCategory2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NameCategory2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "NameSubCategory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NameSubCategory1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-07-28T08:28:26.387Z",
  "id": "1",
  "name": "Todoist to Notion",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -160,
        600
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "name": "Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 1,
      "position": [
        440,
        780
      ],
      "credentials": {
        "todoistApi": {
          "id": "1",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "amount": 6,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        800,
        1260
      ],
      "webhookId": "4780f6ad-e943-43f7-98df-965936f0137b"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        620,
        800
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "taskId": "={{$node[\"SplitInBatches\"].json[\"id\"]}}"
      },
      "name": "Todoist1",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 1,
      "position": [
        2940,
        880
      ],
      "credentials": {
        "todoistApi": {
          "id": "1",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "interval": 10,
        "unit": "minutes"
      },
      "name": "Interval",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -160,
        780
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "firstTypeCode",
              "value": "={{$json[\"label_ids\"][0] || -1}}"
            },
            {
              "name": "subTypeCode",
              "value": "={{$node[\"SplitInBatches\"].json[\"label_ids\"][1] || -1}}"
            }
          ]
        },
        "options": {}
      },
      "name": "typeSetCode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        820
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "2160334865",
              "value": "work"
            },
            {
              "name": "2160343092",
              "value": "side"
            },
            {
              "name": "2160343093",
              "value": "perso"
            },
            {
              "name": "2160343094",
              "value": "mendo"
            },
            {
              "name": "2160343100",
              "value": "info"
            }
          ]
        },
        "options": {}
      },
      "name": "TopCategory",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        140,
        700
      ],
      "notesInFlow": true,
      "notes": "Label ID List"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "2160343091",
              "value": "business"
            },
            {
              "name": "2160343090",
              "value": "seo"
            },
            {
              "name": "2160205417",
              "value": "marketing"
            },
            {
              "name": "2160339141",
              "value": "social"
            },
            {
              "name": "2160343097",
              "value": "site"
            },
            {
              "name": "2160343098",
              "value": "automation"
            }
          ]
        },
        "options": {}
      },
      "name": "subCategory",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        280
      ],
      "notesInFlow": true,
      "notes": "Label ID List"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "83077007-4c56-4778-8ea7-0ccf23bf0354",
        "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}"
            },
            {
              "key": "Tags|multi_select",
              "multiSelectValue": "="
            }
          ]
        }
      },
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2300,
        440
      ],
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Notion account Work"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"category\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "work"
            },
            {
              "value2": "side",
              "output": 1
            },
            {
              "value2": "perso",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1960,
        760
      ],
      "notesInFlow": true,
      "notes": "0 - work\n1 - side\n2 - perso"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Function2\"].json[\"category\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "mendo"
            },
            {
              "value2": "info",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1960,
        1160
      ],
      "notesInFlow": true,
      "notes": "0 - mendo\n1 - info\n"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "97899275-8f74-4615-8550-ff62ed5ec8f7",
        "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}"
            },
            {
              "key": "subType|select",
              "selectValue": "={{$json[\"subCategory\"]}}"
            }
          ]
        }
      },
      "name": "Notion2",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2300,
        720
      ],
      "credentials": {
        "notionApi": {
          "id": "4",
          "name": "Notion account Perso"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "3866653d-87f6-4dad-a5d6-dd4f8f67e3f9",
        "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}"
            },
            {
              "key": "Tags|multi_select",
              "multiSelectValue": "={{$json[\"subCategory\"]}}"
            }
          ]
        }
      },
      "name": "Notion3",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2300,
        940
      ],
      "credentials": {
        "notionApi": {
          "id": "6",
          "name": "Notion account Mendo"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "f14768b2-1e54-4a99-ae51-5e69046df709",
        "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}"
            },
            {
              "key": "Tags|multi_select",
              "multiSelectValue": "={{$json[\"subCategory\"]}}"
            }
          ]
        }
      },
      "name": "Notion4",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2300,
        1160
      ],
      "credentials": {
        "notionApi": {
          "id": "5",
          "name": "Notion account Info"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "1a70ad41-b927-41ac-ba12-88610e161bde",
        "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$node[\"SplitInBatches\"].json[\"content\"]}}"
            },
            {
              "key": "=Type|select",
              "selectValue": "={{$json[\"Category\"]}}"
            }
          ]
        }
      },
      "name": "Notion5",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        2300,
        1460
      ],
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Notion account Work"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api.todoist.com/rest/v1/labels/",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1520,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "subCategory",
              "value": "={{$json[\"name\"] || \"General\"}}"
            }
          ]
        },
        "options": {}
      },
      "name": "NameSubCategory",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1720,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api.todoist.com/rest/v1/labels/{{$json[\"firstTypeCode\"]}}",
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1020,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Category",
              "value": "={{$json[\"name\"] || \"General\"}}"
            }
          ]
        },
        "options": {}
      },
      "name": "NameCategory2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1260,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{0}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        780
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1240,
        1020
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "subCategory",
              "value": "={{$json[\"Category\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "NameSubCategory1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1720,
        860
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1740,
        640
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-07-31T01:06:28.328Z"
}